.introduction {
  @apply px-[--pd-32] bg-color-green-light-2;

  .intro-content {
    @apply py-[--pd-48] flex justify-between items-center;
    .intro-left {
      @apply w-[50%] pr-[11%] pl-[--pd-16];
      h2 {
        @apply text-font-32 font-bold text-color-black pb-[--pd-12];
      }
      h3 {
        @apply text-font-20 text-color-black font-semibold;
        i {
          @apply text-color-gray;
        }
      }
      p {
        @apply text-font-18 leading-10;
      }
    }
    .intro-right {
      @apply w-[50%] relative;

      &:after {
        @apply bg-btn_play;
        background-size: 80px;
        content: "";
        display: inline-block;
        height: 80px;
        left: 50%;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 80px;
        z-index: 0;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .introduction {
    .intro-content { 
      @apply grid grid-cols-1;
      .intro-left, .intro-right {
        @apply w-[100%] mt-5;
      }
    }
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .introduction {
    .intro-content { 
      @apply grid grid-cols-1 mt-5;

    }
  }
}
