.weGot {
  @apply px-[--pd-32] py-[--pd-48];
  .wegot-content {
    h2 {
      @apply text-font-32 text-color-black font-bold;
    }
    .list-got {
      @apply grid grid-cols-5 items-center gap-5 pt-[--pd-24];
      .item-got {
        @apply flex flex-col items-center;
        svg {
          @apply w-[60px] h-[60px] relative;
          &:after {
            border-bottom: 2px solid #c5c6c9;
            content: "";
            padding: 0 0 8px;
            position: absolute;
            right: 50%;
            top: 45px;
            transform: translateX(50%);
            width: 48px;
            height: 2px;
            z-index: 1;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .weGot {
    .wegot-content { 
      .list-got {
        @apply grid grid-cols-3
      }
    }
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .weGot {
    .wegot-content { 
      .list-got {
        @apply grid grid-cols-2;
      }
    }
  }
}