:root {
  //color:

  --color-green-light: #1dbf73;
  --color-green: #19a463;
  --color-black: #222325;
  --color-black-light: #404145;
  --color-gray: #74767e;
  --color-gray-light: #62646a;
  --color-white: #fff;
  --color-green-dark: #003912;
  --color-puple-dark: #0d084d;
  --color-puple: #1e1692;
  --color-puple-light: #446ee7;
  --color-red : rgb(120, 12, 12);
  --color-yellow : rgb(159, 159, 7);

  //font
  --font-main: 1rem;
  --font-10: 0.625rem;
  --font-14: 0.875rem;
  --font-18: 1.125rem;
  --font-20: 1.25rem;
  --font-30: 1.875rem;
  --font-32: 2rem;

  //padding
  --pd-1: 1px;
  --pd-2: 2px;
  --pd-5: 5px;
  --pd-10: 0.625rem;
  --pd-12: 0.75rem;
  --pd-16: 1rem;
  --pd-18: 1.125rem;
  --pd-24: 1.5rem;
  --pd-32: 2rem;
  --pd-40: 2.5rem;
  --pd-48: 3rem;
  --pd-55: 3.45rem;
  --pd-64: 4rem;
  --pd-95: 5.95rem;
  --pd-120: 7.5rem;
  --pd-150: 9.35rem;
  --pd-180: 11.25rem;

  //margin

  --mg-4: 4px;
  --mg-8: 0.5rem;
  --mg-12: 0.75rem;
  --mg-14: 0.875rem;
  --mg-16: 1rem;
  --mg-20: 1.25rem;
  --mg-40: 2.5rem;
  --mg-96: 6rem;

  //border
  --br-4: 4px;
}
